<fieldset class="form-group">
  <p class="col-form-label pt-2">{{question.questionText}}</p>
  <div *ngFor="let answer of question.answers; let i = index" style="margin-left:20px " class="form-check">
    <input class="form-check-input"
           type="radio"
           name="{{question.questionText}}"
           (click)="onAnswerSelected(i)"
           id="{{question.questionText}}/{{answer}}"
           value="{{i}}">
    <label class="form-check-label" for="{{question.questionText}}/{{answer}}">
      {{answer}}
    </label>
  </div>

</fieldset>
